<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BinderLabs API Security Simulator</title>
    <!-- You can include CSS frameworks like Bootstrap here -->
</head>
<body>
    <header>
        <h1>Welcome to BinderLabs API Security Simulator</h1>
    </header>

    <nav>
        <!-- Navigation Bar Links -->
    </nav>

    <main>
        <section>
            <h2>About the Simulator</h2>
            <p>This simulator is designed to help you understand and practice dealing with various API security scenarios.</p>
        </section>

        <section>
            <h2>Features</h2>
            <ul>
                <li>Interactive API security scenarios</li>
                <li>Comprehensive learning resources</li>
                <li>Community-driven development</li>
		<li>N/A</li>
            </ul>
        </section>

        <section>
            <h2>Get Started</h2>
            <p>To begin using the simulator, download the postman collection from github and import it to Postman Client.</p>
            <a href="/bass">Documentation</a> <br> <a href="https://github.com/binderlabs/BASS/tree/main/postman">Postman_collection.json</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 BinderLabs. All rights reserved.</p>
    </footer>
</body>
</html>
